html {
    background: #c9c9c9;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

#this-is-me{
    float: left;
    margin-right: 60px;
    margin-bottom: 200px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newsletter-signup {
    display: flex ;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#button-div{
    text-align: center;
}

label {
    padding: 10px;
}

button {
    color: white;
    background-color: #242424;
    
    padding: 40px;
    width: 15%;
}


.navbar{
    background-color: #242424;
    color: white;
    font-size: 2em;
    position: sticky;
    top: 0;
    list-style-type: none;
}

.navbar-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    
}

.navbar-li{
    padding: 10px;
}

.DAW-table{
    display: flex;
    justify-content:space-around;
    background: #d9d9d9
}

.DAW-article {
    background: #c9c9c9;
    padding: 20px;
}

h1 {
 font-size: 3em;
 margin: 0;
 text-align: center;
}

h3{
    text-align: center;
}

p {
    line-height: 1.5em;
}

article {
    border-top: 1px solid #ccc;
}

#newsletter-signup {
    margin: 40px;
    text-align: center;
    font-size: 1.5em;
    
}

.blogtext {
    border-bottom: 1px solid #ccc;
}

/* Media Queries */
@media (max-width: 400px) {
    img {
        width: 40%;
        padding-right: 10px;
        float: left;
    }

    button {
        width: 80%;
    }

    body {
        margin: 0;
    }

    .DAW-article {
        padding: 8px;
        justify-content: space-evenly;
    }

    .navbar {
        font-size: 1.5em;
    }

    #this-is-me {
        margin-right: 0;
        margin-bottom: 0;
    }
}